<!DOCTYPE html>
<head>
  <title>Hello world</title>
  <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>
  <style>

    .row-selector {
      visibility:hidden
    }

    tr:hover .row-selector {
      visibility:visible
    }

    tr:hover {
      background-color:aquamarine;
    }

    tr {
      cursor:pointer;
    }

    .row-selector:checked {
      visibility:visible;
    }

  </style>
</head>
<body>
  <div id="result"></div>
  <div id="search-controls">
    <label for="search">Search table: </label>
    <input
      hx-trigger="keyup changed delay:500ms"
      hx-post="{{url_for('index')}}"
      hx-target="#table-container"
      name="search"
      type="search">
  </div>
  <div id="table-container">
    {% include "table.html" %}
  </div>
  <span id="export-tsv-controls">
    <button
      type="button"
      hx-post="{{url_for('create_tsv_report')}}"
      hx-target="#report">Export to TSV</button>
  </span>
  <div id="report"></div>
</body>
</html>
