<label for="limit">Items per page: </label>
<select name="limit">
  <option value="10" {% if page_limit == 10 %}selected{% endif %}>10</option>
  <option value="25" {% if page_limit == 25 %}selected{% endif %}>25</option>
  <option value="50" {% if page_limit == 50 %}selected{% endif %}>50</option>
  <option value="100" {% if page_limit == 100 %}selected{% endif %}>100</option>
</select>
<span id="page-navigation-controls">
  <button type="button"
          hx-post="{{url_for('index')}}"
          hx-target="#table-container"
          hx-vals='{"page" : {{ selected_page - 1}}}'
          {% if selected_page == 1 %}disabled{% endif %}>
    −
  </button>
  <select
    name="page"
    {% if nbr_pages == 0 %}disabled{% endif %}
  >
    {% for page_nbr in range(1, nbr_pages + 1) %}
      <option value="{{page_nbr}}"{% if page_nbr == selected_page %}selected{% endif %}>{{page_nbr}}</option>
    {% endfor %}
  </select>
  <button
    type=button
    hx-post="{{url_for('index')}}"
    hx-target="#table-container"
    hx-vals='{"page" : {{ selected_page + 1}}}'
    {% if selected_page >= nbr_pages %}disabled{% endif %}>
    +
  </button>
</span>
<table>
  <thead>
    <tr>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Diet</th>
    </tr>
  </thead>
  <tbody>
    {% for row in db_data %}
      {% set row_selected = row['id'] in selected_rows %}
      <tr _="on click toggle [@checked] on the .row-selector in me">
        <td>
          <input
            class="row-selector"
            type="checkbox"
            name="selected-rows"
            value="{{row['id']}}"
            {% if row_selected %}
              checked
              {{selected_rows.remove(row['id'])}}
            {% endif %}
          >
        </td>
        <td>{{row['first_name']}}</td>
        <td>{{row['last_name']}}</td>
        <td>{{row['favorite_food']}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% for selected_row_id in selected_rows %}
  <input type="hidden" name="selected-rows" value="{{selected_row_id}}">
{% endfor %}
<script>
  var limit_field = document.querySelector("select[name='limit']");
  var page_field = document.querySelector("select[name='page']");
  limit_field.addEventListener("change", function () {
      page_field.value = 1;
      console.log("limit changed");
  });
</script>